<main style="background: #FFFCF2;">
    <div class="container" style="background: #403D39;">
        <div class="row">
            <div class="col" style="border-radius: 1em;">
                <section class="section" style="background: #CCC5B9;border-radius: 2em;">
                    <div data-reflow-type="product">
                        <div class="reflow-product">
                            <div class="ref-media">
                                <div class="ref-preview"><img class="ref-image active" src="https://cdn.bootstrapstudio.io/products/product-30_md.jpg" data-reflow-preview-type="image" /></div>
                                <div class="ref-sale-badge">SALE</div>
                            </div>
                            <div class="ref-product-data">
                                <h2 class="ref-name">Piggy Bank</h2>
                                <div class="ref-categories"><span class="ref-category">Toys</span></div><strong class="ref-price ref-on-sale"><s class="ref-original-price">$100.00</s>$23.51</strong><span data-reflow-type="add-to-cart" data-reflow-shoppingcart-url data-reflow-addtocart-text data-reflow-product="43218622" data-reflow-variant="199976733_s">
                                    <div class="ref-product-controls">
                                        <div class="ref-variant"><label><span>Size</span><select class="ref-form-control ref-field-variants" name="variant-state" required>
                                                    <option value="199976733_s">S</option>
                                                    <option value="199976733_m">M</option>
                                                    <option value="199976733_l" disabled>L</option>
                                                </select></label></div><span data-reflow-variant="199976733_s" data-reflow-product="43218622" data-reflow-max-qty="999" data-reflow-quantity="1">
                                            <div class="ref-quantity-widget">
                                                <div class="ref-decrease"><span></span></div><input type="text" value="1" />
                                                <div class="ref-increase"><span></span></div>
                                            </div>
                                        </span><a class="ref-button" href="#">Add to Cart</a>
                                    </div>
                                </span>
                                <div class="ref-description">Et numquam <b>est</b> vitae.</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col">
                <section class="right_container">
                    <div class="right_row" style="border-radius: 2em;">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">Heading</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="right_row" style="border-radius: 2em;"><img class="img-fluid d-block mx-lg-auto" src="https://via.placeholder.com/700x500" width="700" height="500" loading="lazy" /></div>
                </section>
            </div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5" style="background: #403D39;">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6"><iframe allowfullscreen frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3" style="color: #EB5E28;">Responsive left-aligned hero with image</h1>
                <p class="lead" style="color: #EB5E28;">Sociosqu elit ultrices, ligula euismod donec semper curabitur turpis est. Quisque nostra a tortor sit. Fames in amet ligula sollicitudin inceptos in lorem aliquam, viverra mattis. Urna arcu posuere mi.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
            </div>
        </div>
    </div>
</main>